@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');

/* COLORS */
:root {
    --color-hex-1: #424742;
    --color-hex-2: #C4D3C4;
    --color-hex-3: #7D877D;
    --color-hex-4: #899489;
    --color-hex-5: #656D65;
    --color-hex-6: #F4DCF1;
    --color-hex-7: #FFF4FD;
}

/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 12px;
    width: 100%;
    max-width: 200%;
    height: 100%;
    overflow-x: hidden;
    background: #424742;
    background-image: linear-gradient(transparent 23px, rgb(101, 109, 101) 24px, transparent 24px), linear-gradient(90deg, transparent 23px, rgb(101, 109, 101) 24px, transparent 24px);
    background-size: 100% 35px, 35px 100%;
    font-family: 'Karla', sans-serif;
}
body {
    max-width: 100%;
    overflow-x: hidden;
}
section {
    padding: 4rem 0;
}
a {
    text-decoration: none;
    color: var(--color-hex-4);
}
img {
    width: 85%;
}

/* REUSABLE */
.container {
    width: 80%;
    max-width: 200%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.section-heading {
    text-align: center;
    margin-bottom: 10rem;
    line-height: 1.4;
}
.section-heading h4 {
    font-size: 6rem;
    letter-spacing: 8px;
    color: var(--color-hex-4);
    position: relative;
    margin-bottom: 1rem;
}
.section-heading h4::before,
.section-heading h4::after {
    content: '';
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-hex-5);
}
.section-heading h4::before {
    width: 17rem;
    height: 4px;
    border-radius: .8rem;
}
.section-heading h5 {
    padding-top: 1px;
    font-size: 1.4rem;
    color: var(--color-hex-2);
    font-weight: 100;
    letter-spacing: 1.4px;
}

/* HEADER */
/* .fa-snowflake {
    animation: fall linear forwards;
    color: var(--color-hex-7);
    position: absolute;
    top: -20px;
}
@keyframes fall {
    to {
        transform: translateY(500vh);
    }
} */
header {
    width: 100%;
    height: 100vh;
}
.top-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background-color: var(--color-hex-1);
    transition: all 650ms cubic-bezier(1,0,0,1);
}
.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
    margin: 0 2rem;
}
.nav-link {
    font-family: 'Mr Dafoe', sans-serif;
    font-size: 3rem;
    padding: .5rem;
}
.nav-link:hover,
.nav-link:focus {
    background: linear-gradient(to top, var(--color-hex-2), var(--color-hex-5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-nav.open {
    top: 0;
    border-radius: initial;
}
.menu-toggler {
    position: absolute;
    top: 4rem;
    right: 4rem;
    width: 4rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}
.menu-toggler.open {
    transform: rotate(-45deg);
}
.bar {
    background: linear-gradient(to right, var(--color-hex-2), var(--color-hex-5));
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}
.bar.half {
    width: 50%;
}
.bar.start {
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54,-0.81,0.57,0.57);
}
.open .bar.start {
    transform: rotate(-450deg) translateX(.8rem);
}
.bar.end {
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54,-0.81,0.57,0.57);
}
.open .bar.end {
    transform: rotate(-450deg) translateX(-.8rem);
}
.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}
.landing-text h5 {
    width: 100%;
    font-size: 8rem;
    font-family: 'Mr Dafoe', sans-serif;
    font-weight: 100;
    color: var(--color-hex-2);
}
.landing-text h1 {
    padding-top: 5px;
    font-size: 2.5rem;
    font-weight: 400;
    background: linear-gradient(to bottom, var(--color-hex-2), var(--color-hex-5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
    letter-spacing: 2px;
}
.landing-text h2 {
    margin-top: -20px;
    font-size: 2.5rem;
    font-weight: 400;
    background: linear-gradient(to bottom, var(--color-hex-2), var(--color-hex-5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
    letter-spacing: 2px;
}
.trait {
    margin: auto;
    margin-top: 30px;
    width: 400px;
    border-color: var(--color-hex-3);
    border-style: solid;
    border-width: 2px;
}

/* ABOUT */
.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-picture {
    border-radius: 10%;
    filter: grayscale(40%);
}
.about-heading h5 {
    font-size: 2.7rem;
    letter-spacing: 2px;
    font-weight: 400;
    color: var(--color-hex-4);
    border-bottom: 2px solid var(--color-hex-6);
}
.about-heading p {
    padding-top: 5px;
    text-align: justify;
    font-size: 1.3rem;
    line-height: 1.9;
    color: white;
}
.nav-list i {
    padding-top: 15px;
    font-size: 1.6rem;
    color: var(--color-hex-2);
}
.nav-list i:hover,
.nav-list i:focus {
    color: var(--color-hex-6);
}
#hobbies {
    padding-top: 25px;
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.9;
    color: white;
}
.fa-heart {
    color: var(--color-hex-5);
}
.cv input {
    margin-top: 2%;
    margin-left: 40.5%;
    background-color: var(--color-hex-3);
    width: 20%;
    border: none;
    outline: none;
    border-radius: .8rem;
    color: var(--color-hex-6);
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}
.cv input:hover {
    background-color: var(--color-hex-6);
    color: var(--color-hex-3);
}

/* PORTFOLIO */
.portfolio-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}
.portfolio-item:last-child {
    margin-bottom: 0;
}
.portfolio-description h5 {
    margin-bottom: 10px;
    font-size: 2.3rem;
    letter-spacing: 3px;
    font-weight: 400;
    color: var(--color-hex-4);
    text-transform: uppercase;
}
.portfolio-description p {
    text-align: justify;
    font-size: 1.25rem;
    line-height: 1.7;
    letter-spacing: 1.2px;
    color: white;
}
.technos {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 2px var(--color-hex-6);
}
.portfolio-description .fab {
    padding-right: 5px;
    font-size: 1.3rem;
    color: var(--color-hex-3);
}
.portfolio-description input {
    margin-top: 17px;
    padding: 5px 10px;
    width: 25%;
    background-color: var(--color-hex-3);
    border: none;
    border-radius: 10px;
    outline: none;
    color: var(--color-hex-2);
    font-size: 1.5rem;
    cursor: pointer;
}
.portfolio-description input:hover,
.portfolio-description input:focus {
    color: white;
    background-color: var(--color-hex-6);
}

/* SKILLS */
.my-skills {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}
.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.skill h6 {
    letter-spacing: 2px;
    font-size: 16px;
    color: var(--color-hex-2);
}
.icon-container {
    width: 6rem;
    height: 6rem;
    border: 3px solid var(--color-hex-4);
    background-color: var(--color-hex-6);
    margin-bottom: 1rem;
    display: flex;
}
.icon-container i {
    color: var(--color-hex-2);
    font-size: 3rem;
    margin: auto;
}
.tools, .know-how {
    margin-top: 3rem;
    padding-left: 0px;
}
.tools h6, .know-how h6 {
    font-size: 18px;
    letter-spacing: 1.5px;
    color: var(--color-hex-3);
}
.tools p, .know-how p {
    font-size: 16px;
    color: white;
    letter-spacing: 1.5px;
}

/* EDUCATION */
.studies ul {
    background-color: var(--color-hex-7);
    border-radius: .8rem;
    margin: 0 auto;
    position: relative;
    padding: 4rem;
    list-style: none;
    text-align: left;
    width: 80%;
}
.studies h5 {
    line-height: 1.7;
    font-size: 1.6rem;
    font-weight: 200;
    margin-bottom: 1rem;
    color: var(--color-hex-3);
}
.studies p {
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--color-hex-4);
    font-size: 1rem;
    line-height: 1.5;
}
.studies h6 {
    font-size: 1.6rem;
    font-weight: 200;
    color: var(--color-hex-2);
    line-height: 1.5;
}
.studies .educ-content {
    border-bottom: 2px dashed var(--color-hex-6);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

/* CONTACT */
.contact {
    background-color: var(--color-hex-7);
}
form {
    width: 70%;
    margin: 0 auto;
}
form label {
    font-size: 2.5rem;
    font-family: 'Mr Dafoe', sans-serif;
    color: var(--color-hex-3);
}
input,
select,
textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline: none;
    background-color: var(--color-hex-1);
    color: var(--color-hex-4);
}
input,
textarea {
    font-family: 'Karla', sans-serif;
    font-size: 1.3rem;
}
textarea {
    resize: none;
}
input[type="submit"] {
    margin-top: 10px;
    margin-left: 30%;
    background-color: var(--color-hex-4);
    width: 40%;
    color: var(--color-hex-1);
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2px;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 650ms;
}
input[type="submit"]:hover {
    color: var(--color-hex-4);
    background-color: var(--color-hex-5);
}

/* FOOTER */
.copyright {
    width: 100%;
    text-align: center;
    background-color: var(--color-hex-1);
    padding: 2rem 0;
    position: relative;
}
.up {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: var(--color-hex-6);
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}
.up i {
    color: var(--color-hex-5);
    font-size: 2rem;
    margin: auto;
}
.copyright p {
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--color-hex-3);
}

/* ANIMATIONS */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--color-hex-5);
    }
    70% {
        box-shadow: 0 0 0 2rem rgb(217,153,139,0);
    }
    100% {
        box-shadow: 0 0 0 0 rgb(190,83,83,0);
    }
}
